<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bagel.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bagel.price %>
</p>

<p>
  <strong>Tasty:</strong>
  <%= @bagel.tasty %>
</p>

<%= link_to 'Edit', edit_bagel_path(@bagel) %> |
<%= link_to 'Back', bagels_path %>
